@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: "Oswald", sans-serif;
font-family: "Poppins", sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    /* para trabajar el div de ingresar */
    position: relative; 
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    border: 1px solid #f5f5f5;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    width: 200px;
    background-color: #111111;
    z-index: 1;
    transition: all ease 0.5s;
}
.logo:hover{
    border: 1px solid #111111;
    background-color: #f5f5f5;

}
.logo img{
    margin: 10px 0;
    width: 80%;
    height: 50%;
    z-index: -1;
    border-radius: 10px;
}
.logo img:hover{
    opacity: 0.7;
    transition: opacity 0.5s ease;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}

.navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
    cursor: pointer;
}
.navbar ul li a::after{
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    background:  #111111;
    left: 20px;
    top: 50px;
    transition: width 0.5s ease;

}
.navbar ul li a:hover::after{
    width: 30%;
}

#menu{
    display: none;
}

.menu-icono{
    display: none;
    width: 25px;
}

.personal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
    position: absolute;
    width: 120px;
    top: 55%;
    right: 0%;
    transition: 0.6s ease all;
}

.fa-house-user{
    text-align: center;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition: 0.6s ease all;
    position: relative;
    margin-right: 15%;
}
.fa-house-user:hover{
    scale: .8;
    transition: 0.6s ease all;
}
.contedor-home .personal{
    display: none;
    transition: 0.6s ease all;

}
.contedor-home:hover .personal{
    display: flex;
    justify-content: space-around;
    transition: 0.6s ease all;
    width: 15%;
    transition: 0.6s ease all; */
}

.contenedor-usuario{
    height: auto;
    width: auto;
}

.oculto{
    display: none !important;
}
.fa-user-plus{
    height: 100%;
    font-size: 25px;
    cursor: pointer;
}   
.usuario{
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 80%;
    z-index: 11;
    background-color: #4e4b5076;
    padding: 5px;
    min-width: 380px;
    height:75px;
    border-radius: 10px;
    transition: 0.6 ease all;
}
.contenedor-usuario .usuario{
    display: none;
}
.contenedor-usuario:hover .usuario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.botones-usuario{
    color: #f5f5f5;
    width: 40%;
    height: 55%;
    text-align: center;
    justify-items: center;
    border-radius:5px;
    font-size: 15px;
    line-height: 210%;
    background-color: #111111;
    word-spacing: 10px;
    cursor: pointer;
    border: none;
}
.botones-usuario:hover{
    background-color: #4e4b5076;
    color: #111111;;
}

.submenu{
    position: relative;
    height: 25px;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0%;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 11;
    background-color: #4e4b5076;
    padding: 5px;
    min-width: 400px;
    border-radius: 10px;
}
#carrito{
    transition: all 0.9s ease;
}
table{
    width: 100%;
}

th, td{
    color: #ffffff;
}
#img-carrito{
    cursor: pointer;
}

.borrar{
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 200px;
    width: 200px;
    height: 500px;
}

.header-carrusel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
    margin-top: 120px;
    overflow: hidden;
}

.header-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.header-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#img1{
    animation: ocultarImagen 5s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: 2.25s;
    mask-image: linear-gradient(black 80%, transparent);

}@keyframes ocultarImagen {
    0%{opacity: 1}
    40%{opacity: 1}
    41%{opacity: 0}
    100%{opacity: 0;}
}

#img2{
    animation: mostrarImagen 5s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: -2.5s;
}
@keyframes mostrarImagen {
    0%{opacity: 1}
    49%{opacity: 1}
    50%{opacity: 0}
    100%{opacity: 0}
}


.header-txt{
    display: block;
    position: static;
    flex-basis: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: "Oswald", sans-serif;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #525258;
    transition: all ease 0.2s;
}
.btn-1:hover{
    background-color: #525258;
    border: 1px solid #111111;
    color: #111111;
    transition: all ease 0.2s;
    
}

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
}
.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.ofert-img img{
    width: 250px;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ofert-txt h3{
    color: #111111;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.subtotalCarrito{
    display: flex;
    justify-content: space-between;
}
.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    transition: all ease 0.2s;

}
.btn-2:hover{
    background-color: #525258;
    color: #111111;
    cursor: pointer;
    transition: all ease 0.2s;

}
.products{
    padding: 50px 0;
    text-align: center;
}

.products h2{
    color: #111111;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product img{
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all ease 0.5s;

}
.product img:hover{
    scale: 1.15;
    transition: all ease 0.5s;
}

.product h3{
    font-size: 20px;
    color: #111111;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio{
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}
.icon-txt{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-txt h3{
    font-size: 20px;
    color: #111111;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.icon-txt p{
    font-size: 15px;
    color: #111111;
    text-align:right;
}
.icon-img{
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
}
.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);

}


.blog-1 h3{
    font-size: 20px;
    color: #111111;
    font-family:  "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 16px;
    color: #111111;
}

.footer{
    background-color: #111111;
    height: auto;
    padding: 2% 0;


}
.link{
    width: 20%;
    display: flex;
    width: 90%;
    margin: 0 5%;
}


.link h3{
    font-size: 18px;
    color: #ffffff;
    font-family:  "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.link ul{
    height: 100%;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.link li{
    color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    width: 18%;
}
.link li p{
    font-size: 10px;
    margin: 0;
}
.redes-sociales{
    color: #dcdcdc;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-rrss{
    font-size: 40px;
    border-radius: 5px;
    border: 1.5px solid #dcdcdc;
    padding: 2px 4px;
    transition: all 0.2s ease;
}
.copyright{
    margin-top: 20px;
    text-align: center;
}
.copyright h4{
    color: #dcdcdc;
    font-size: 10px;
    font-weight: 500;
   
}
.icon-rrss:hover{
    scale: 1.15;
    border: none;
    transition: all 0.3s ease;
}   
@media (max-width: 991px){

    .menu{
        padding: 20px;
        display: flex;
    }
    .menu label{
        display: initial;
    }
    .menu-icono{
        display: flex;
        height: 30px;
        font-size: 30px;
        cursor: pointer;
        font-weight: 700;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }
    .menu .navbar ul li a{
        color: #ffffff;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%  
    }

    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    }

    .ofert{
        padding: 30px 30px 0 px;
        flex-direction: column;
        
    }
    .ofert-1{
        margin-bottom: 30px;

    }

    .product{
        padding: 0 30px 30px 30px;
    }

    .product h2{
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product img{
        width: 200px;
        height: 280px;
    }

    .icons{
        padding: 30px;
        flex-direction: column;
    }

    .icon-1{
        margin-bottom: 30px;
    }

    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1{
        margin-bottom: 30px;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        align-items: center;
    }

}

/* pagina oferta/damas/caballeros */

.header-paginaciones{
    min-height: 25vh;
    position: fixed;
    width: 100%;
    z-index: 10000;
    box-shadow: ;
}

.logo-paginacion{
    width: 100px;
}
.seccion-ppal-paginacion{
    padding-top: 200px;
}

/* formulario */
.seccion-registro{
    padding-top: 200px;
    display: flex;
    justify-content: center;    
}
.formulario{
    width: 80%;
    min-height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 0.8fr 1.2fr;
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 10px;
    padding: 2% 1%;
    margin-bottom: 15px;
}

.formularioGrupo{
    width: 100%;
    min-width: 20%;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.5s ease;
}
.indicacionesFormulario{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 90%;
    padding-top: 1%;
}
.formularioGrupoInput{
    width: 60%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.formularioInput{
    width: 80%;
    height: 80%;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
}
.input-password{
    position: relative;
}
/* para ocultar el icono por defecto de mostrar clave */
input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}
/* se inserta un icono de mostrar clave que sea manipulable */
.icono-toogle-clave{
    position: absolute;
    right: 18%;
    cursor: pointer;
    transition: all ease 0.2s;
}
.icono-toogle-clave:hover{
    scale: 0.8;
    transition: all ease 0.2s;
}
.mostrar-clave{
    scale: 0.8; 
    color: rgba(0, 0, 0, 0.5);
    transition: ease all 0.2s;
}

.mostrar-clave:hover{
    scale: 1; 
    transition: ease all 0.2s;

}
.grupo-checkbox{
     border: 1px solid red;
     display: ;
}
#grupoTerminos{
    margin-top: 30px;
    grid-column: 1/3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid black;
    border: none;   
}
#grupoTerminos button{
    background: none;
    border: none;
    color: rgb(71, 93, 237);
    text-decoration: none;
    cursor: pointer;
}
#grupoTerminos span{
    font-size: 15px;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="checkbox"]:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset  0 0 10px rgba(0, 0, 0, 0.1);;
}
input[type="checkbox"]:checked{
    accent-color: #111111;
    cursor: pointer;
}
#grupoTerminos button:hover{
    text-shadow: 0 0 5px;
    transition: all ease 0.2s;
}

.formularioInputError, .usuarioRegistradoError{
    font-size: 10px;
    color: red;
    opacity: 0;
    transition: 0.4s ease all;
    width: fit-content;
}

.errorEnDatoFormulario{
    border: 1.5px solid red;
    box-shadow: 1px 1px 5px rgba(253, 1, 1, 0.9), -1px -1px 5px rgba(253, 1, 1, 0.9);
    transition: 0.4s ease all;
}
.iconoError{
    opacity: 0;
    color: red;
    transition: 0.4s ease all;
}

.formularioMensaje{
    color: red;
    opacity: 0;
    grid-column: 1/3;
    grid-row: 5;
}   
.formularioMensaje span{
    color: #111111;
}

.formularioGrupoBtnEnviar{
    border: none;
    grid-column: 1/3;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.formularioBtn{
    cursor: pointer;
    width: 30%;
    height: 100%;
    background-color: #111111;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 0.5s ease all;
    
}
.formularioBtn:hover{
    background-color: #4e4b5076;
    color: #111111;
    transition: 0.5s ease all;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), -2px -2px 8px rgba(0, 0, 0, 0.5)
}
.formularioBtn p{
    font-size: 20px;
}

.formularioMensajeExito{
    margin-top: 5px;
    opacity: 0;
}

/* body.style.overflow = 'hidden'; debo poner esa linea de codigo en JS para que no se mueva la parte de atras */
.seccion-ingreso{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000063;
    backdrop-filter: blur(9px);
    z-index: 10000000;
    transition: 0.4s ease all;
}
.iconoCerrarSeccionIngreso{
    position: absolute;
    top: 12%;
    right: 30%;
    color: #111111;
    font-size: 30px;
    cursor: pointer;
}

.iconoCerrarSeccionIngreso:hover{
    color:#4e4b5076;;
    transition: 0.4s ease all;
    
}
.datos-ingresar{
    display: none;
    width: 40%;
    height: 60%;
    background: #ffffff;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 20px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.8);
    transition: all ease .2s;
}
.grupo-datos-ingresar{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grupo-datos-ingresar:nth-child(1), .grupo-datos-ingresar:nth-child(2) {
    height:25%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    p{
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 500;
        color: red;
        opacity: 0;
    }
}

.input-correo-ingresar, .input-clave-ingresar{
    display: flex;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    margin-left: 10%;
}  

.input-ingresar{
    width: 70%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
    border: 1px solid black;
    outline: none;
    border: none;
}
.input-ingresar::placeholder{
    text-align: center;
}
.dato-errado-ingresar{
    border: 1px solid red;
    box-shadow: 0px 0px 5px rgba(253, 1, 1, 0.9);
    transition: 0.4s ease all;
}

.iconoErrorIngresar{
    opacity: 0;
    color: red;
    transition: 0.4s ease all;
}
.bnt-modificar-clave{
    color: black;
    font-size: 13px;
    align-self:flex-end;
    font-weight: 600;
    transition: 0.2s ease all;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    cursor: pointer;
    border: none;
    background: none;
    margin: 5% 0%;
}
.bnt-modificar-clave:hover{
    color: red;
    transition: 0.2s ease all;
    font-weight: 500;
}
.btn-ingresar-usuario{
    height: 30px;
    width: 33%;
    align-self: center;
    cursor: pointer;
    color: #f5f5f5;
    background-color: #111111;
    border-radius:5px;
    font-size: 15px;
    font-family: 'Poppins', Courier, monospace;
    border: none;
    transition: 0.4s ease all;
}
.btn-ingresar-usuario:hover{
    background-color: #4e4b5076;
    color: #111111;
    transition: 0.4s ease all;
}
/* seccion de cambio de clave, estatica, pero los formularios alternan, el titulo es fijo y cambia entre el form de envio clave
al correo y el registro de la nueva clave
*/
.container-cambio-clave{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 3%;
    transition: all ease .2s;
}

.titulo-recuperar{
    height: 10%;
    text-align: center;
}
#form-datos-recuperar-clave, #form-verificacion-clave-defecto{
    display: flex;
    flex-direction: column;
    height: 45%;
    transition: all ease .2s;
    opacity: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.grupo-clave-por-defecto, .grupo-nueva-clave{
    height: 85%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}


.grupo-datos-recuperar{
    height: 70%;
}
.grupo-input-recuperacion{
    height: 35%;
}
.input-correo-defecto{
    width: 60%;
    margin-left: 20%;
    height: 100%;
}
.formularioInputError{
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 500;
    color: red;
    opacity: 0;
}
.btn-correo-defecto{
    display: flex;
    justify-content: center;

    height: 25%;
}
.grupo-nueva-clave{
    height: 85%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.cambio-clave-visible{
    display: flex;
}
.seccion-ingreso-visible{
    display: flex;
}
#clave-actuliazada{
    margin-left: 25%;
}
/* mensaje bienvenenida usuario */
.msjBienvenidaUsuario{
    position: fixed;
    top:2%;
    right: 0;
    display: flex;
    width: fit-content;
    font-size: 100%;
    color: red;
    font-style: italic;
    text-shadow: 2px 2px 10px rgba(253, 1, 1, 0.9);
    margin-right: 5%;
}